#{extends 'main.html' /}
#{set title:'Home' /}

<table class="table table-hover table-bordered table-striped kbdNavigation-enabled">
	<thead>
		<tr>
			<th>#</th>
			<th>Player</th>
			<th>Rank</th>
		</tr>
	</thead>
	<tbody>
	<tr>
        <td>1</td>
        <td>Pepe</td>
        <td>75%</td>
    </tr>
	<tr>
        <td>2</td>
        <td>Espada</td>
        <td>50%</td>
    </tr>
	<tr>
        <td>3</td>
        <td>Oriol</td>
        <td>46.2%</td>
    </tr>
	<tr>
        <td>4</td>
        <td>Joan</td>
        <td>40%</td>
    </tr>
	<tr>
        <td>5</td>
        <td>Quique</td>
        <td>33.3%</td>
    </tr>
	<tr>
        <td>6</td>
        <td>Jordi</td>
        <td>25%</td>
    </tr>
	<tr>
        <td>7</td>
        <td>Rafa</td>
        <td>18.2%</td>
    </tr>
	<tr>
        <td>8</td>
        <td>Valentí</td>
        <td>0%</td>
    </tr>

	</tbody>
</table>
